<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <script defer type='module' src="/javascripts/validarBuscadorVistaAdmi.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/admin/vistaActualizar.css">
    <link rel='stylesheet' href='/css/normalize.css' />

</head>
<body id="body" class="body-edit">
  <header class="header">
    <form action=<%= `/admin/agregar-temporada/${result.id}/cadena/nueva-temporada` %> >
      <div>
         <button class="agregar-temporada">Crear nueva temporada</button>
      </div>
       
    </form>

    <form action=<%= `/admin/agregar-temporada/${result.id}/cadena/eliminar-capitulo` %> >
      <div>
         <button class="eliminar-capitulo">Eliminar capitulo</button>
    </div>
       
    </form>
      <form  >
      <div>
         <button class="agregar-capitulo">Agregar capitulo</button>
    </div>
       
    </form>
   
  </header>
   
  <section class="section">
    <table class="table">
      <tr class="encabezado">
        <th>temporadas</th>
        <th>capitulos</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
       <% for (let temporada  of cantidadTemporadas) { %>
          <tr>
            <td class="border"><%= temporada %></td>
          </tr>
       <%} %>
    <!--   <tr>
        <td class="border">temporada1</td>
        <td class="border">capitulo1</td>
        <td class="border">capitulo2</td>
        <td class="border">capitulo3</td>
        <td class="border">capitulo4</td>
        <td class="border">capitulo5</td>
        <td class="border">capitulo6</td>
       
      </tr>
      <tr>
        <td>temporada2</td>
        <td>capitulo1</td>
        <td>capitulo2</td>
        <td>capitulo3</td>
        <td>capitulo4</td>
        <td>capitulo5</td>
        <td>capitulo6</td>
      </tr> -->
    </table>
    <div class="content-form">
      <form action=<%= `/admin/agregar-temporada/${result.id}/cadena/agregar-capitulo` %> class="form-capitulos">
        <input type="text" name="temporada" placeholder="temporada" disabled>
        <input type="text" name="capitulo" placeholder="capitulo">
        <div>
           <button class="btn-capitulo">Enviar</button>
        </div>
       
      </form>
    </div>
  </section>

  
</body>
</html>

<!--  <tr>
          <td class="border"></td>
        <td class="border">capitulo2</td>
         <td class="border">capitulo1</td>
          <td class="border">capitulo1</td>
        </tr> -->