<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/header-series.css"/>
   <link rel="stylesheet" href="/css/series-video.css"/>
  <%- include("./templates/cabecera")%>
</head>
<body>
  <header class="header-serie">
    <div class="content-link">
      <a href="/" class="header-link">Kamuai</a>
    </div>
  </header>
  <nav class="nav">
      <ul>
        <li>
          <a href="#" class="nav-link">temporada 1</a>
        </li>
      </ul>
    </nav>
    
  <div class="centrar-content-video">
    
    <div class="content-video">
      <video src="../../series/bojack/temp1/bocjak-1.mp4" controls></video>
    </div>
  </div>
  
</body>
</html>