<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/header-series.css"/>
  <link rel='stylesheet' href='/iconos/play/style.css' />
  <%- include("./templates/cabecera")%>
  <script type="module" defer src="/javascripts/reemplazarCaracter.js"></script>
  <script type="module" defer src="/javascripts/seleccionarCapitulos.js"></script>
  <link rel="stylesheet" href="/css/series-video.css"/>
  <script type="module" defer src="/javascripts/menuDesplegable.js"></script>
  <script type="module" defer src="/javascripts/menuHamburguesa.js"></script>
  <script type="module" defer src="/javascripts/buscador.js"></script>
  <link rel='stylesheet' href='/iconos/menu/style.css' />
  <link rel='stylesheet' href='/iconos/cross/style.css' />
   
    <link rel='stylesheet' href='/iconos/video/style.css' />
</head>
<body id="body">
  <header class="header-serie">
    <div class="enlace-inicio">

       <a href="/" class="header-link">
        <span class="icon-play3 icono-play-series"></span>
        <span>Kamuai</span>
       </a>
    </div>
    <div class="menu-hamburguesa" id="menu-hamburguesa">
      <span class="icon-menu" id="icon-menu"></span>
      <span class="icon-cross" id="icon-cross"></span>
    </div>
    <div class="content-buscador">
      <div class="content-centrar">
        <input type="text" class="buscador" id="buscador">
        <button class="boton-buscar">B</button>
      </div>
      
    </div>
  </header>
  <nav class="nav" id="nav">
  
      <ul id="ul" class="acordeon ul">
      <% for (var i = 0; i < series.length; i++) { %>
             <li class="lista">
                  <h1 class="h1 temporada">
                    <span class="icon-video-camera icono-video-camera"></span>
                     <%=`${series[i].temporada}`%>
                  </h1>
                   
                    <% for (var j = 0; j < series[i].capitulos.length; j++) { %>
                    <p class="capitulos"> <!-- contenido -->

                     <%=`${series[i].capitulos[j]}`%>
                    </p>
                    <%  } %>
              </li>
      <%  } %>
        
      </ul>
    </nav>
    
  <div class="centrar-content-video">
    
    <div class="content-video" id="content-video">
     
    </div>
  </div>
 
  
</body>
</html>