<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="todo es una sola plataforma">
	<title>Document</title>
	<link rel="preload" as="style" href="/css/admin/formRegistro.css" >
	<link rel="preload" as="style" href='/css/normalize.css' >
	<link rel="stylesheet" as="style" href="/css/admin/formRegistro.css" >
	<link rel="stylesheet" as="style" href='/css/normalize.css' >
	
	<script type="module" defer src="/javascripts/eliminarMsjError.js"></script> 
</head>

<body>
	<div class="content-form">
		<%- include("./templates/errores")%>

		<form action="/users/login" method="post" class="form">
			<img src="/imagenes/user_icon_004.jpg" alt=""  class="logo" >
			<h2 class="h2">Login</h2>
			<div class="content-input">
				<input type="text" class="input" placeholder="correo" name="correo">
				<input type="password" class="input" placeholder="contraseña" name="contraseña">
				
			</div>
			<button class="btn">Login</button>
		</form>
	</div>

</body>

</html>