<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="stylesheet" type="text/css" href="/css/admin/formRegistro.css">
	<link rel='stylesheet' href='/css/normalize.css'/>
  <script type="module" defer src="/javascripts/validarCorreo.js"></script>
	<title>Document</title>
</head>
<body>
	<div class="content-form" id="content-form">
	
	<%- include("./templates/errores")%>
		<form action="/users/registro" method="post" class="form" id="form">
			
			<div class="content-input">
				<% if(typeof correo != 'undefined'){ %>
					<input type="text" id='correo' class="input" placeholder="correo" name="correo" value= <%=`${correo}`%>>
				<% }else {%>
                    <input type="text" id='correo' class="input" placeholder="correo" name="correo">
                 <% } %>
				<input type="password" class="input" placeholder="contrase単a" name="contrase単a">
				<input type="password" class="input" placeholder="confirmar contrase単a" name="confirmar_contrase単a">
			</div>
			<button class="btn">Login</button>
		</form>
	</div>
</body>
</html>