<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <script defer type='module' src="/javascripts/validarBuscadorVistaAdmi.js"></script>
</head>
<body id="body">
   
    <h1>vista admin</h1>
    <form action="/admin/" method="post" id="form-admin">
        <input type="text" name="nombreSerie" placeholder="titulo serie">
          <input type="text" name="tituloVideo" placeholder="titulo video">
        <input type="text" name="nombreImg" placeholder="titulo img" id="nombre-img">
        <input type="text" name="descripcion" placeholder="descripcion">
        <input type="text" name="temporada" placeholder='temporada'>
        <button>Enviar</button>

          
    </form>
</body>
</html>
