<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <script defer type='module' src="/javascripts/validarBuscadorVistaAdmi.js"></script>
    <script type="module" defer src="/javascripts/vistaAdmi.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/vistaAdmi.css">
    <link rel='stylesheet' href='/css/normalize.css' />

</head>
<body id="body">
    <div class="content">
         <h1 class="h1-temporada">Nueva temporada</h1>

         <form action="" class="form-nueva-temporada">
            <input type="" class="input input-nueva-temporada" name="primerCapitulo" placeholder="Primer capitulo">
            <button class="btn btn-nueva-temporada">Crear nueva temporada</button>
            <div>
                <label>temporada</label>
             <select>
                 <option >capitulo1</option>
             </select>
            </div>
             
         </form>
    </div>

  
</body>
</html>