<!DOCTYPE html>
<html lang="en">
<head>
   
  <%- include("./templates/cabecera")%>
  <link rel="stylesheet" href="/css/header-series.css"/>
  <link rel='stylesheet' href='/iconos/play/style.css' />
  <link rel='stylesheet' href='/css/btnInstall.css' />
  <link rel="stylesheet" href="/css/vistaSeries.css"/>
  <script type="module" defer src="/javascripts/reemplazarCaracter.js"></script>
  <script type="module" defer src="/javascripts/seleccionarCapitulos.js"></script>
  <script type="module" defer src="/javascripts/buscador.js"></script>
  <script type="module" defer src="/javascripts/menuDesplegable.js"></script>
  <script type="module" defer src="/javascripts/menuHamburguesa.js"></script>
  <script type="module" defer src="/javascripts/buscador.js"></script>
  <script type="module" defer src="/javascripts/btnInstallPwa.js"></script>
  <script type="module" defer src="/javascripts/validarBuscadorVistaSerie.js"></script>
  <link rel='stylesheet' href='/iconos/menu/style.css' />
  <link rel='stylesheet' href='/iconos/cross/style.css' />
  <link rel='stylesheet' href='/iconos/circle-right/style.css' />
  <link rel='stylesheet' href='/iconos/flecha-izq/style.css' />
    <link rel='stylesheet' href='/iconos/ctrl/style.css' />

</head>
<body id="body">
  <header hidden class="header-serie" > 
    <div class="ocultar-conten-flecha-izq" id="content-flecha-izq">
      <span class="icon-arrow-left2"></span>
    </div>
    <div class="enlace-inicio " id="enlace-inicio">
      <span class="icon-menu icon-menu-desplegable" id="icon-menu-desplegable"></span>
       <a href="/" class="header-link">
        <!-- <span class="icon-play3 icono-play-series"></span> -->
        <span>Kamuai</span>
       </a>
    </div>
    <div class="menu-hamburguesa" id="menu-hamburguesa">
      <span class="icon-menu" id="icon-menu"></span>
      
    </div>
    <div class="content-buscador " id="content-buscador">
      <div class="content-centrar">
        <form action="/resultado" id="form-vista-serie">
          <input type="text" class="buscador" autocomplete="off" placeholder="Buscar" id="buscador-vista-serie">
          <button class="boton-buscar boton-buscar-resposive " id="boton-buscar">
                <span class="icon-search"></span>
          </button>
        </form>
        
      </div>
      
    </div>
  </header>
  <nav class="nav aparecer-menu" id="nav">
      <div class="content-icon-menu-link">
        <!-- <span class="icon-menu icon-menu-desplegable" id="icon-menu-hamburguesa"></span> -->

       <a href="/" class="header-link">
  
        <span class='titulo-app'>Kamuai</span>
       </a>
       <div class='content-cross'>
           <span class="icon-cross" id="icon-cross"></span>
        </div>
      
      </div>
      <ul id="ul" class="acordeon ul">

          <% if (series.length > 0) { %>
             <% let i = 0 %>
             <% for (propiedad in series[0]) { %>
             <% if (Array.isArray(series[0][propiedad])) {%>
               <%  i ++ %>
                   <li class="lista">
                    <h1 class="h1 temporada">

                      <span class="icon-circle-right circle-right"></span>
                       
                      temporada<%=`${i}`%> 
                    </h1>
                   <% for (let temporada of series[0][propiedad]) { %>
                     <p class="capitulo"> 
                            <span class='icon-ctrl icon-ctrl-style'></span>
                        <%=`${temporada}`%>
                           </p>
                 
                    <%} %>
                  </li>   
     
             <% }%>
 
             
            <%  } %>

          <% } else { %>
               <li class="lista">
               </li>  

          <% } %>
          
        
      </ul>
    </nav>
    
  <div class="centrar-content-video">
    
    <div class="content-video" id="content-video">
  
    </div>
  </div>

  <div class='content-btn-intall ' id='content-btn-intall' >
        <button id="install_button" hidden  >
            <span class="icon-download3"></span> Instalar App
        </button>
  </div>

<div style="color:black;">
 
</div>
</body>
</html>