<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include("./templates/cabecera")%>
    <link rel='stylesheet' href='/css/btnInstall.css' /> 
    <link rel="stylesheet" href="css/vistaInicio.css">
    <link rel='stylesheet' href='/iconos/estrellas/style.css' />
    <link rel='stylesheet' href='/iconos/play/style.css' />
    <link rel='stylesheet' href='/iconos/descarga/style.css' />
    <link rel='stylesheet' href='/iconos/circuloFlecha/style.css' />
    <link rel='stylesheet' href='/iconos/flecha-izq/style.css' />
     
     <!-- <link rel='stylesheet' href='/css/responsive.css' />  -->

    <script type="module" defer src="/javascripts/buscadorVistaInicio.js"></script>
    <script type="module" defer src="/javascripts/validarBuscadorVistaInicio.js"></script>
    <script type="module" defer src="/javascripts/borderFocusBuscador.js"></script>
    <script type="module" defer src="/javascripts/btnInstallPwa.js"></script>
    <script type="module" defer src="/javascripts/slider.js"></script>

    <title>Document</title>
    <script src=""></script>
</head>
<body id="body">
   
   <nav class="nav">
    
  </nav>
    <div class="content-main">
    <header class="header">
      <div class="content-tittle">
        <a href="/" id="enlace-nombre-app"><h1 class="header-tittle">KAMUAI</h1></a>
      </div>
  
       <div  class="form">
        <input type="text" id="buscador" class="buscador" placeholder="Buscar Serie">
          <button class="boton-buscar boton-buscador-vista-inicio" id="boton-buscador-vista-inicio">
              Buscar 
          </button> 
      </div>
    </header>
    <section class="section">
      <div class="content-serie-presentacion">
        <img src="/imagenes/mr.robot.webp " alt="" class="img">
        <div class="content-play-serie">
          <h2 class="h2-mr-robots">Mr robots</h2>
          <h3 class="h3-temporada">Temporada 1</h3>
          <div class="content-iconos-estrellas">
                  <span class="icon-star-full bg-yellow"></span>
                  <span class="icon-star-full bg-yellow"></span>
                  <span class="icon-star-full bg-yellow"></span>
                  <span class="icon-star-full bg-yellow"></span>
                  <span class="icon-star-half bg-yellow"></span>
            </div>
            <p class="content-descripcion-movie">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, amet corrupti. Architecto maiores necessitatibus soluta enim officia ab, ?
            </p>
            <div>
              <a href="/series/chernobyl/temporada1/capitulo1">
                <button type="button" id="button-play" class="btn-play">
                  <span class="icon-play3 icono-play"></span>
                  Play now
                </button>
              </a>
            </div>
        </div>
      </div>
      <% for (let i = 0; i < almacenDeArrays.length; i++) { %>
      <div class="content-galeria-series">
        <span class="icon-circle-left icon-circle" id="left"></span>
        <span class="icon-circle-right icon-circle right" id="right1"></span>

        <div class="galeria-series" id="slider">
          <% for (let j = 0; j < almacenDeArrays[i].length; j++) { %>
           <div class="content-img-serie">
            <a href="#" class="link-serie">
              <img src="/imagenes/peakyblinders.webp" alt=""> 
            <div class="play-serie">

              <button type="button" id="button-play" class="btn-play">
                <span class="icon-play3 icono-play"></span>       
                       
              </button>
            </div>
            </a>
          </div> 
         <%} %> 
          
        </div> 
      </div>
         
       <%} %> 


      <div class='content-btn-intall ' id='content-btn-intall' >
          <button id="install_button"  hidden class="btn-install">
              <span class="icon-download3"></span> Instalar App
          </button>
      </div>
    </section>
  </div>

</body>
</html>
