.content-btn-intall{
	display: flex;
	justify-content: center;
	
}


.btn-install{
	display: none;
	cursor: pointer;
	border: solid 1px rgb(151, 43, 213);
	color: #fff;
	padding: 3px 13px;
	font-size: 1.5em;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 10;
	background: rgb(151, 43, 213);
	
}