@media (max-width: 420px) {
 
  .content-slider {
    overflow: auto;
  }


  .card {
    min-width: 100px;
    min-height: 100%;
  }

  .header-container-movies {
    width: 100%;
    height: 100%;
  }

  .header-input-search {
    width: 100%;

  }


.content-buscador1{
  width: 87%;
  margin-left: 14px;
}
  .header-tittle {
    font-size: 1.2em;
    text-align: center;
    margin: 8px 0;
    width: 20%;
  }

  .header-nav{
    justify-content: center;
    align-items: center;
    
  }
  .tittle-movie-principal {
      font-size: 1.2em;
      margin-top: 10px;
      margin-bottom: -10px;
  }

  .content-descripcion-movie {
    margin-top: 0px;
    font-size: 0.7em;
  }
  .content-movie {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .modal-video {
    width: 100%;

  }
   .vista-bsucador-width90{
   width: 90%;
  }
  .vista-bsucador{
    width: 80%;
    padding: 7px 42px 7px 13px;
    height: 31px;
    border-radius: 15px;
  }
 
  .buscador-oculto{
    display: none;
  }

.form-resultado-incio{
  position: relative;
  justify-content: flex-start;
  align-items: center;
  height: 22px;
}
 /* .boton-buscador-vista-inicio{
    background-color: transparent;
    padding: 8px;
    width: 55px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 1.3em;
    border: 0;
  }*/
  .ocultar-enlace{
    display: none;

  }

  .content-flecha-izq{
     font-size: 1.2em;
  }
  
  .btn-install{
      display: block;
  }
  .boton-buscar{
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 8px;
    top: 5px;
  }
}
.content-link-vista-inicio-width{
  width: 18%;
}

@media (max-width: 1190px) {
  .content-slider {
    overflow-x: auto;
  }
  .card {
    min-width: 100px;
    min-height: 100%;

  }

}