

body{
 background-color: #131314;
 
}
.header{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container-movies{
  width: 90%;
  height: 90%;
  border: 2px solid #fff;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.header-nav{
  width: 90%;
  height: 8%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-input-search{
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 0;
  padding-left: 10px;
  color: #131314;
  border: none;
  outline:none ;
}
.header-tittle{
  font-weight: bold;
  font-size: 1.4em;
}

.img-header{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
 
}
.content-buscador{
  width: 50%;
}
.content-centrar{
 margin-left: 13px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.buscador{
  border: 1px solid gray;
  width: 70%;
  border-top-left-radius: 15px;
  border-bottom-left-radius:15px;
  padding: 8px 15px;
  outline: none;


}
.content-link-vista-inicio{
  width: 40%;
}
.boton-buscar{
  background-color: #464646;
  padding: 8px;
  width: 64px;
  margin-left: -5px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  border: 1px solid gray;

}
.border-color-buscador{
  border-color: #F4F4F4;
}

.ocultar-conten-flecha-izq{
   
    display: none;
  }