body{
	background-color: #192130;
}
.linea-divisora{
	display: none;
}
.flex-section{
	widows: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section{
	width: 70%;
	height: 90%;	
}
.header{
	width: 97%;
	padding: 2px 0;
	display: flex;
	position: relative;
}
.nav{
	width: 20%;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}
.form{
	width: 80%;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.buscador{
 border-radius: 7px;
  width: 289px;
  padding: 8px 20px;
  outline: none;
  background-color: #252E40;
  border: 1px solid gray;
  color: #fff;

}

.boton-buscar{
	position: absolute;
	 padding: 8px 0;
  width: 80px;
  margin-left: 5px;
  border-bottom-right-radius:7px;
  border-top-right-radius: 7px;
  cursor: pointer;
  border: 1px solid #FCC737;
  background-color: #FCC737;
  color: #fff;
  font-size: 1em;
  right: 0px;
}
.right{
	background-color: blue;
	position: absolute;
	right: 0px;
}

.titulo{
	color: #FCC737;
	font-weight: bold;
	font-size: 1.4em;
}
.content-resultado{
	margin-top: 49px;

}
.card-resultado{
	width: 80;
	height: 221px;
	margin-top: 11px;

	border-radius: 10px;
	display: flex;
	
}
.img-bojack{
   border-radius: 5px;
 
}
/*
APIs de PNL
*/
.resultado-busqueda{
	text-align: center;
	margin-top: 30px;
	font-size: 2em;
}
.descripcion{
	height:100%;
	width: 60%;
	
	padding-left: 20px;
}
.card{
	width: 20%;
	height:100%;
	display: flex;
	
	justify-content: center;
	
}
.bg-yellow{
    color: rgb(235, 235, 32);
}

.titulo-serie{
	font-size: 1.8em;
	margin-bottom: 10px;
}
.margin-bottom{
	margin-bottom: 10px;
}
.border-color-buscador{
	border-color: #F4F4F4;
}
.ocultar-content-flecha-izq{
		display: none;
	}

/*responsive*/

@media (max-width: 420px){
	.header{
		padding: 20px;
		width: 100%;
		justify-content: space-between;
	}
	.nav{
		width: 34%;
	}
	.buscador{
		width: 218px;
	}
	.form{
		position: relative;
	}
	.boton-buscar{

		width:55px;
	}
	.titulo{
		font-size: 1.2em;
		padding-top: 5px;
	}
	.section{
		width: 100%;
		height: 100vh;
		
	}
	.card-resultado{
		display: block;
		height: auto;
		padding: 10px 20px;
		border: 2px solid #ffffff22;
	}
	.card{
		height: 50%;
		width: 100%;
	}
	.btn-install{
    	display: block;
  	}
	.card  img{
		
		width: 100%;
		height: 233px;
		object-fit: cover;
		border-radius: 0px;
	}
	.content-descripcion-movie{
		display: none;
	}
	.resultado-busqueda{
		text-align: center;
		margin-top: 9px;
		font-size: 1.2em;
		text-wrap:balance;
	}
	.descripcion{
		width: 100%;
		padding-top: 23px;
	}

	.padding-card-resultado{
		padding: 0 15px;
	}
	.linea-divisora{
		width: 100%;
		border: 1px solid #ffffff22;
		margin-top: 20px;
		display: block;

	}
	.content-resultado{
		margin-top: 22px;
	
	}
	/*.buscador-oculto{
		display: none;
	}*/
	/*.boton-buscar-resposive-resultado{
		background-color: transparent;
		border: none;
		width: 33px;
	}*/
	.icon-search{
		font-size: 17px;
	}
	.ocultar-enlace{
		display: none;
	}
	.content-iconos-flecha{
		font-size: 1.2em;
		font-weight: lighter;
	}
	.titulo-serie{
		font-size: 1.4em;
	}
	.margin-bottom{
		margin-bottom: 5px;
	}
	.nav-width12{
		width: 12%;
	}
}