body{
	width: 100%;
	background-color: #192130;
}

.header{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
   padding: 20px 0;
}
.content-tittle{
  padding: 7px 0px;
  font-weight: bold;
  font-size: 1.4em;
  color: #FCC737;
}

.centrar-content-video{
	width: 70%;
	margin: 0 auto;
	padding-top:20px;
	padding-bottom:50px;
/*	height: calc(100vh - 50px) ;*/

}
.content-video{
	width: 100%;
	height:auto;
	
}
.nav{
	background: #212020;
	position: absolute;
	width: 19%;
	height: 100dvh;
	top: 0;
	overflow: hidden;
	left: -19%;
	transition: width ease .4s;
  transition: left 0.3s ease-in-out;
}
.content-icon-menu-link{
	display: flex;
	font-size: 1.4em;
	height: 8dvh;
	align-items: center;
	justify-content: space-around;
	padding: 0 0px 0 32px;
}
.nav-visible{
	left: 0%;

}
.nav-link{
	color: #fff;
}
.ul{
	height: inherit;
	padding-top: 20px;

}
.content-descripcion-video{
	color: #fff;
}

.content-cross{
	width: 100%;
	position: relative;
	height: inherit;
}
.icon-cross{
		position: absolute;
		right:12%;
		top: 25%;
		cursor: pointer;
		font-size: .9em;
	}
.circle-right{
	margin-right: 9px;
	font-size: 1.2em;
	transition:  0.3s ease-in-out;
	display: inline-block;
}

.circle-right-rotate{
	transform: rotate(90deg);
}
 .capitulo{
	height: 0px;
	overflow: hidden ;
	transition: height .3s ease ;
	padding-left: 40px;
	padding-top: 5px;
	cursor: pointer;
	position: relative;
}

.acordeon{
	height: 30px;
	display: block;
	overflow: visible;
	margin-bottom: 6px;
}

.lista{
	padding-left: 30px;
	width: 90%;

}
.temporada{
	transition: background .15s ease ;
	cursor: pointer;
	padding: 7px 0;
}
.temporada:hover, .capitulo:hover  {
	background-color: #353535;
	border-radius: 5px;
}

.enlace-inicio{
	
	width: 15%;
	height: inherit;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
  	font-size: 1.4em;
 	padding: 0 48px 0 14px;
}
.icono-play-series{
	 background-color: gray;
    padding: 2px;
    display: inline-block;
}
.menu-hamburguesa{
	display: none;
}
.icon-menu-desplegable{
	cursor: pointer;
	padding-bottom: 3px;
}

.content-buscador{
	margin: 0 auto;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h2-title{
	font-size: 1.4em;
}
.categorias{
	font-size: .8em;
}
.cantidad-capitulos{
	background-color: #000;
	padding: 10px 12px;
	cursor: pointer;
	font-size: .8em;
}
.play{
	  background-color: #EEC249;
	  font-size: .9em;
}
.descripcion-serie{
	font-size: .8em;
}
.content-centrar{
	width: 75%;
}
.form{
	position: relative;
}
.buscador{
  border-radius: 7px;
  width: 289px;
  padding: 8px 20px;
  outline: none;
  background-color: #252E40;
  border: 1px solid gray;
  color: #fff;
	
}
.boton-buscar{
  position: absolute;
  padding: 8px 0;
  width: 80px;
  margin-left: 5px;
  border-bottom-right-radius:7px;
  border-top-right-radius: 7px;
  cursor: pointer;
  border: 1px solid #FCC737;
  background-color: #FCC737;
  color: #fff;
  font-size: 1em;
  right: 0px;
}
.margin-top{
	margin-top: 20px;
}
.icon-search{
font-size: 15px;
}
.icon-ctrl-style{
	display: inline-block;
	transform: rotate(90deg);
	margin-top: 5px;
	position: absolute;
	left: 13px;
	bottom : 6px;

}
.content-select-box{
	background-color: #151920;
	border: 1px solid #fff;
	border-radius: 4px;
	width: 18%;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	position: relative;
	
}

.content-temporada-actual{
	position: relative;

	/*height: inherit;
	border-radius: 7px;*/
}
.icono{
	position: absolute;
	right: 10px;
	transform: rotate(90deg);
}
.content-temporada-hidden{
	background-color: red;
	position: absolute;
	top: 35px;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	background-color: #151920;
	padding: 5px;
}
.ocultar-content-temporada{
display: none;
}

/*----------------------resposive------------------------------*/



@media (max-width: 420px) {
	 .buscador{
    width: 218px;
  }
  .header{
  	width: 100%;
  	padding: 20px;
  }
  .content-tittle{
 
  font-size: 1.2em;
  
}
.boton-buscar{
    width: 55px;
  }
  .centrar-content-video{
	width: 100%;

}
.btn-install{
    display: block;
  }

	/*
	.header-serie{
		height: 10vh;
		position: relative;
	}
	.enlace-inicio{
		width: 45%;
		font-size: 1.2em;
	}
	.icon-menu-desplegable{
		display: none;
	}
	
	.menu-hamburguesa{
		width: 20%;
		font-size: .9em;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
		height: inherit;
	}
	.nav{
	
		width: 100%;
		left: -170%;
	}
	.temporada:hover, .capitulos:hover{
		background-color: transparent ;
	}
	.temporada{
		transition: none;
		cursor: default ;
	}
	#icon-cross{
		font-size: .9em;
		
	}
	.icon-menu{
		font-size: 1.8em;
		
	}

	.content-video{
		width: 100%;
	}

	.aparecer-menu{
		height: calc(100vh - 7vh);
		z-index: 10;
		
		left: 0;
	}
        
    .content-buscador{
    	width: auto;
    	position: absolute;
    	top: 23%;
    	right: 28%;
    }
    .buscador{
    	display: none;
		padding: 7px 42px 7px 13px;
		height: 31px;
		border-radius: 15px;
		width: 81%;
		margin-right: -11px;
    }
    .form-vista-serie{
    	position: relative;
    }
    .boton-buscar-resposive{
		background-color: transparent;
		padding: 6px;
		margin-left: -17px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		border: 0;
		width: 45px;
		
		
	}
	.content-cross{
		width: 100%;
		position: relative;
		height: inherit;

	}
	.icon-cross{
		position: absolute;
		right:12%;
		top: 25%;

	}
	.content-icon-menu-link {
   
    	padding: 15px 0px 0 29px;
	}
	.titulo-app{
		font-size:.9em ;
		font-weight: bold;
	}
	.icon-search{
		font-size: 1em;
	}
	.ocultar-enlace{
		display: none;
	}
	.boton-buscar-left-top{
		position: absolute;
		right: 44px;
		top: 2px;
	}
	.content-flecha-izq{
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 17%;
		font-size: 1.2em;
	}
	.ocultar-conten-flecha-izq{
		display: none;
	}
	.ocultar-menu-hamburguesa{
		display: none;
	}
	.content-centrar{
		width: 100%;
	}*/

}

