.centrar-content-video{
	width: 100%;
	height: calc(100vh - 50px) ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-video{
	width: 50%;
	height:auto;
	
}
.nav{
	background: black;
	position: absolute;
	width: 15%;
	height: calc(100vh - 8vh);  
	
	
}
.nav-link{
	color: #fff;
}
.ul{
	height: inherit;
	padding-top: 20px;
}

.icono-video-camera{
	margin-right: 8px;
}
.acordeon .capitulos{ /*contenido*/
	height: 0px;
	overflow: hidden ;
	transition: height .3s ease ;
	
}
.acordeon .lista.activo .capitulos{ /*contenido*/
	height: 23px;
	display: block;
}
.lista{
	text-align: center;
	width: 90%;
}
.temporada{
	transition: background .15s ease ;
	
	cursor: pointer;
	border-radius: 5px;
	padding: 7px 0;

}
.temporada:hover, .capitulos:hover  {
	background-color: #353535;
	
}
.capitulos{
	cursor: pointer;
	border-radius: 5px;

}


.enlace-inicio{
	
	width: 15%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	 font-weight: bold;
  font-size: 1.7em;
 
}
.icono-play-series{
	 background-color: gray;
    padding: 2px;
    display: inline-block;
}
.menu-hamburguesa{
	display: none;
}
.content-buscador{
	
	margin: 0 auto;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.content-centrar{
	width: 75%;
}
.buscador{
	border: 1px solid gray;
	width: 70%;
	border-top-left-radius: 15px;
	border-bottom-left-radius:15px;
	padding: 8px 15px;
	outline: none;
	
}
.boton-buscar{
	background-color: #464646;
	padding: 8px;
	width: 64px;
	margin-left: -5px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	cursor: pointer;
	border: 1px solid gray;
	position: absolute;
}
.icon-search{
font-size: 15px;
}
.ocultar-conten-flecha-izq{
		display: none;
}
.border-color-buscador{
	border-color: #F4F4F4;
}




/*----------------------resposive------------------------------*/



@media (max-width: 420px) {
	.btn-install{
    	display: block;
  	}
	.header-serie{
		height: 10vh;
		position: relative;
	}
	.enlace-inicio{
		background-color: #000;
		width: 45%;
		font-size: 1.5em
	}
	.menu-hamburguesa{
		width: 20%;
		
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
		height: inherit;
	}
	.nav{
		height: 0;
		overflow: hidden;
		width: 100%;
		font-size: 1.5em;
	}
	.temporada:hover, .capitulos:hover{
		background-color: transparent ;
	}
	.temporada{
		transition: none;
		cursor: default ;
	}
	#icon-cross{
		display: none;
		font-size: 1.8em;
		
	}
	.icon-menu{
		font-size: 1.8em;
		
	}

	.content-video{
		width: 100%;
	}

	.aparecer-menu{
		height: calc(100vh - 7vh);
		z-index: 10;
	}
        
    .content-buscador{
    	width: auto;
    	position: absolute;
    	top: 23%;
    	right: 28%;
    }
    .buscador{
    	display: none;
    	padding: 11px 15px;
    }
    
    .boton-buscar-resposive{
		background-color: transparent;
		
		width: 33px;
		margin-left: 0px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		border: 0;
	}
	.icon-search{
		font-size: 21px;
	}
	.ocultar-enlace{
		display: none;
	}
	/*.right{
		right: 23%;
	}*/
	.content-flecha-izq{
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 17%;
		font-size: 1.3em;
	}
	.ocultar-conten-flecha-izq{
		display: none;
	}
	.ocultar-menu-hamburguesa{
		display: none;
	}
	.content-centrar{
		width: 100%;
	}
	
}