   <div class="flex-edit">
    <div class="a"></div>
      <nav class="nav-edit-serie">
    
      </nav>
      <div class="content-edit">
        <header class="header">
          
        </header>
        <div class="content-tarjetas">
          <div class="tarjetas">
           <span>Temporadas</span>
          </div>
          <div class="tarjetas">
            <span>Descripcion</span>
          </div>
        </div>
        <div class="content-resultados">
          <div class="contet-info-temporadas">
            <div class="content-flex-info-temporadas">
              <div class="width cantidad-temporada">
                <span>cantidad temporada</span>
              </div>
              <div class="width crear-temporada">
                 <form method="post" action=<%= `/admin/agregar-temporada/${result.id}` %> class="form-nueva-temporada">
                    <input type="" class="input input-nueva-temporada" name="primerCapitulo" placeholder="Primer capitulo">
                    <input type="text" name="capitulo" placeholder="Agreagr capitulo">
                    <button class="btn btn-nueva-temporada">Crear nueva temporada</button>
                  </form>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div> 

   
 <!--  <div class='content-form'>
    <div class="content-h1-actualizar">
      <h1 class="h1-actualizar">Actualizar</h1>
    </div>
    <form  method="post" id="form" class="form-actualizar" action=<%= `/admin/editarSerie/${result.id}` %>>
      <input type="text" name="nombreSerie" class="input input-actualizar" value= <%=`${result.nombreSerie}`%> >

      <% let i = 0 %>
             <% for (propiedad in result) { %>
             <% if (Array.isArray(result[propiedad])) {%>
               <%  i ++ %>
                    <h1 class="h1 temporada">  
                      temporada<%=`${i}`%> 
                    </h1>
                   <% for (let capitulo of result[propiedad]) { %>
                    <input type="text" name="nombreCapitulo" class="input input-actualizar" value= <%=`${result.temporada1}`%> >
                    <%} %>
                   
     
             <% }%>
 
             
            <%  } %>


      
      <input type="text" class="input input-actualizar" name="nombreImg" value= <%=`${result.nombreImg}`%> >
      <textarea name="descripcion" class="textarea border" rows="10" cols="50"  ><%=`${result.descripcion}`%></textarea>
      <button class="btn">Enviar</button>
  </form>
  </div> -->



 