<header class="header-admi">
      <div class="content-cerrar-sesion">
          <div class="content-iconos">
            <a href="/users/cerrarSesion">
                 <span class="icon-enter"></span>
              <span>
                  Cerrar sesion
              </span>
            </a>
            
          </div>
      </div>
    </header>